@import url('https://fonts.googleapis.com/css?family=Sen');

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    opacity: 0;
    animation: fade-in 3s forwards;
  }
  
  .about-title {
    font-weight: bold;
    color: #333;
    opacity: 0;
    animation: slide-in 1s forwards;
    margin-bottom: 30px;
    font-family: 'Sen', sans-serif;
    font-size: 32px;
  }
  
  .about-description {
    font-size: 22px;
    font-family: 'Sen', sans-serif;
    color: #666;
    margin-bottom: 10px;
    opacity: 0;
    animation: fade-in-delay 1s forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slide-in {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in-delay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } 